# **Product Metrics for Business**.
*Intro guide for Data analysts/Data scientics/Product analysts*


Metrics are a way to quantify the state of a product or its components. They help distinguish what is “better” or “worse” and enable data-driven decision-making instead of relying on intuition.

## What Makes a Good Metric
- Measurability
- Interpretability
- Actionability

 *Usually*, *one* *metric* *is* *not* *enough*, *so* *it’s* *better* *to* *analyze* *several* *metrics* *together*.*

# **1**. **Marketing** **Metrics**

Marketing focuses on acquisition, retention, and efficiency of campaigns.

### **1.1 CAC (Customer Acquisition Cost)**

*Definition*:
 CAC (Customer Acquisition Cost) is the cost of acquiring a customer.
To calculate how much one customer costs the company, divide total marketing and sales expenses by the number of new customers acquired.

$$
CAC = \frac{\text{Total Marketing and Sales Spend}}{\text{Number of New Customers}}
$$

In [ ]:
total_marketing_and_sales_spend = 50000
new_customers = 250

cac = total_marketing_and_sales_spend / new_customers

print("Customer Acquisition Cost (CAC):", cac)

Customer Acquisition Cost (CAC): 200.0

In [ ]:
# SQL example for calculating CAC

"""
SELECT
    SUM(marketing_spend + sales_spend) / COUNT(DISTINCT customer_id) AS CAC
FROM customers
WHERE acquisition_date BETWEEN '2024-01-01' AND '2024-12-31';
"""

### **1.2 ARPU (Average Revenue Per User)**
*Definition*: ARPU (Average Revenue Per User) is the average revenue generated per user.
To calculate it, divide total revenue by the number of users.

$$
ARPU = \frac{\text{Total Revenue}}{\text{Number of Users}}
$$

In [ ]:
total_revenue = 120000
users = 3000

arpu = total_revenue / users

print("Average Revenue Per User (ARPU):", arpu)

Average Revenue Per User (ARPU): 40.0

In [ ]:
# SQL example for calculating ARPU

"""
SELECT
    SUM(revenue) / COUNT(DISTINCT user_id) AS ARPU
FROM transactions
WHERE transaction_date BETWEEN '2024-01-01' AND '2024-12-31';
"""

### **1.3 ARPPU (Average Revenue Per Paying User)**
*Definition:* ARPPU (Average Revenue Per Paying User) is the average revenue generated per paying user.
To calculate it, divide total revenue by the number of paying users.

$$
ARPPU = \frac{\text{Total Revenue}}{\text{Number of Paying Users}}
$$

In [ ]:
total_revenue = 120000
paying_users = 800

arppu = total_revenue / paying_users

print("Average Revenue Per Paying User (ARPPU):", arppu)

Average Revenue Per Paying User (ARPPU): 150.0

In [ ]:
# SQL example for calculating ARPPU

"""
SELECT
    SUM(revenue) / COUNT(DISTINCT user_id) AS ARPPU
FROM transactions
WHERE payment_status = 'paid'
  AND transaction_date BETWEEN '2024-01-01' AND '2024-12-31';
"""

### **1.4** **LTV** (**Lifetime** **Value**)
*Definition:* LTV (Lifetime Value) is the total revenue a customer generates over their entire lifetime in a product.
To calculate it, multiply ARPU by the average customer lifetime.

$$
LTV = ARPU \times \text{Average Customer Lifetime}
$$

In [ ]:
arpu = 40
average_customer_lifetime = 24  # months

ltv = arpu * average_customer_lifetime

print("Lifetime Value (LTV):", ltv)

Lifetime Value (LTV): 960

In [ ]:
# SQL example for calculating LTV

"""
SELECT
    (SUM(revenue) / COUNT(DISTINCT user_id))
    * AVG(customer_lifetime_months) AS LTV
FROM user_metrics;
"""

***calculation with Churn rate:***


$$
LTV = \frac{\text{ARPU}}{\text{ Churn Rate}}
$$

In [ ]:
"""
WITH metrics AS (
    SELECT
        SUM(revenue) / COUNT(DISTINCT user_id) AS arpu,
        churn_rate
    FROM monthly_metrics
)
SELECT
    arpu / churn_rate AS LTV
FROM metrics;
"""

### **1.5 NPS (Net Promoter Score)**
 *Definition:* NPS (Net Promoter Score) is a customer loyalty index.
It measures how willing customers are to recommend a product.
It is calculated as the percentage of customers who gave a score of 9–10 (promoters) minus the percentage of customers who gave a score of 0–6 (detractors).

$$
NPS = \%Promoters - \%Detractors
$$

In [ ]:
total_responses = 100
promoters = 60
detractors = 20

nps = (promoters / total_responses * 100) - (detractors / total_responses * 100)

print("Net Promoter Score (NPS):", nps)

Net Promoter Score (NPS): 40.0

In [ ]:
# SQL example for calculating NPS

"""
SELECT
    (
        SUM(CASE WHEN score BETWEEN 9 AND 10 THEN 1 ELSE 0 END) * 100.0 / COUNT(*)
    )
    -
    (
        SUM(CASE WHEN score BETWEEN 0 AND 6 THEN 1 ELSE 0 END) * 100.0 / COUNT(*)
    )
    AS NPS
FROM survey_responses;
"""

### **1.6 Churn Rate**
*Definition:* Churn Rate is the percentage of customers who stop using a product during a given period.
To calculate it, divide the number of customers lost during the period by the total number of customers at the beginning of the period, then multiply by 100%.

$$
Churn\ Rate =
\frac{\text{Customers Lost in Period}}
{\text{Customers at Start of Period}}
\times 100\%
$$

In [ ]:
customers_at_start = 1000
customers_lost = 80

churn_rate = (customers_lost / customers_at_start) * 100

print("Churn Rate (%):", churn_rate)

Churn Rate (%): 8.0

In [ ]:
# CTE
"""
WITH start_period AS (
    SELECT COUNT(DISTINCT customer_id) AS customers_start
    FROM customers
    WHERE active_date = '2024-01-01'
),
lost_customers AS (
    SELECT COUNT(DISTINCT customer_id) AS customers_lost
    FROM customers
    WHERE churn_date BETWEEN '2024-01-01' AND '2024-01-31'
)
SELECT
    (customers_lost * 100.0 / customers_start) AS churn_rate
FROM start_period, lost_customers;
"""

### **1.7 Marketing ROI (Return on Investment)**
*Definition:* Marketing ROI (Return on Investment) measures how effectively marketing investments generate profit.
To calculate it, subtract marketing spend from marketing revenue and divide the result by marketing spend. Then multiply by 100%.

$$
Marketing\ ROI =
\frac{\text{Marketing Revenue} - \text{Marketing Spend}}
{\text{Marketing Spend}}
\times 100\%
$$

In [ ]:
marketing_revenue = 200000
marketing_spend = 50000

marketing_roi = ((marketing_revenue - marketing_spend) / marketing_spend) * 100

print("Marketing ROI (%):", marketing_roi)

Marketing ROI (%): 300.0

In [ ]:
# SQL example for calculating Marketing ROI

"""
SELECT
    ((SUM(marketing_revenue) - SUM(marketing_spend))
     / SUM(marketing_spend)) * 100.0 AS marketing_roi
FROM marketing_campaigns
WHERE campaign_date BETWEEN '2024-01-01' AND '2024-12-31';
"""

### **1.8 CTR (Click-Through Rate)**
*Definition:* CTR (Click-Through Rate) measures how often users click on an ad, button, or link.
It is calculated by dividing the number of clicks by the number of impressions and multiplying by 100%.

$$
CTR = \frac{\text{Clicks}}{\text{Impressions}} \times 100\%
$$

In [ ]:
clicks = 350
impressions = 10000

ctr = (clicks / impressions) * 100

print("Click-Through Rate (CTR) %:", ctr)

Click-Through Rate (CTR) %: 3.5000000000000004

In [ ]:
"""
SELECT
    campaign_name,
    (SUM(clicks) * 100.0 / SUM(impressions)) AS CTR
FROM ad_performance
GROUP BY campaign_name
ORDER BY CTR DESC;
"""

### **1.9 Retention Rate**
*Definition:* Retention Rate measures the percentage of users who continue using a product over a given period.
It is calculated by dividing the number of users who are still active at the end of the period by the number of users at the start of the period, then multiplying by 100%.

$$
Retention\ Rate =
\frac{\text{Customers at End of Period}}
{\text{Customers at Start of Period}}
\times 100\%
$$

In [ ]:
customers_start = 1000
customers_end = 850

retention_rate = (customers_end / customers_start) * 100

print("Retention Rate (%):", retention_rate)

Retention Rate (%): 85.0

In [ ]:
"""
WITH start_period AS (
    SELECT COUNT(DISTINCT customer_id) AS customers_start
    FROM customers
    WHERE active_date = '2024-01-01'
),
end_period AS (
    SELECT COUNT(DISTINCT customer_id) AS customers_end
    FROM customers
    WHERE active_date = '2024-01-31'
)
SELECT
    (customers_end * 100.0 / customers_start) AS retention_rate
FROM start_period, end_period;
"""

# **2. Retail & E-commerce**
Retail and E-commerce — the sector of offline and online product sales, where commerce, operations, and logistics play a key role.
In these industries, metrics help track sales performance, customer behavior, and operational efficiency.

### **2.1 GMV (Gross Merchandise Value)**
*Definition:* GMV (Gross Merchandise Value) shows the total value of goods sold by a company.
It is calculated as the sum of the price of each item multiplied by the number of units sold.

$$
GMV = \sum_{i=1}^{N} price_i \times sales_i
$$

In [ ]:
prices = [50, 30]
sales = [100, 200]

gmv = sum([p * s for p, s in zip(prices, sales)])

print("Gross Merchandise Value (GMV):", gmv)

Gross Merchandise Value (GMV): 11000

In [ ]:
"""
SELECT
    category,
    SUM(price * quantity_sold) AS GMV
FROM sales
GROUP BY category
ORDER BY GMV DESC;
"""

### **2.2 AOV (Average Order Value)**
*Definition:* AOV (Average Order Value) shows the average revenue per order.
It is calculated by dividing GMV by the total number of orders.

$$
AOV = \frac{GMV}{Orders}
$$

In [ ]:
gmv = 11000
orders = 220

aov = gmv / orders

print("Average Order Value (AOV):", aov)

Average Order Value (AOV): 50.0

In [ ]:
"""
SELECT
    category,
    SUM(price * quantity_sold) / COUNT(DISTINCT order_id) AS category_aov
FROM sales
GROUP BY category
ORDER BY category_aov DESC;
"""

### **2.3 AIV (Average Item Value)**
*Definition:* AIV (Average Item Value) shows the average price of a single item sold.
It is calculated by dividing the GMV of the item by the number of units sold.

$$
AIV = \frac{\text{Item GMV}}{\text{Item Sales}}
$$

In [ ]:
item_gmv = 5000
item_sales = 100

aiv = item_gmv / item_sales

print("Average Item Value (AIV):", aiv)

Average Item Value (AIV): 50.0

In [ ]:
# SQL example for calculating AIV

"""
SELECT
    item_id,
    SUM(price * quantity_sold) / SUM(quantity_sold) AS AIV
FROM sales
WHERE sale_date BETWEEN '2024-01-01' AND '2024-12-31'
GROUP BY item_id;
"""

### **2.4 Product Margin (Gross Margin)**
*Definition:* Product Margin (Gross Margin) shows what portion of the item price is profit.
It is calculated by subtracting the purchase cost from the item price and dividing the difference by the item price, then multiplying by 100%.

$$
Product\ Margin =
\frac{\text{Item Price} - \text{Purchase Price}}{\text{Item Price}} \times 100\%
$$

In [ ]:
item_price = 100
purchase_price = 70

product_margin = ((item_price - purchase_price) / item_price) * 100

print("Product Margin (%):", product_margin)

Product Margin (%): 30.0

In [ ]:
"""
SELECT
    category,
    AVG((price - purchase_price) / price * 100) AS avg_margin
FROM products
GROUP BY category
ORDER BY avg_margin DESC;
"""

### **2.5 OSA (On-Shelf Availability)**
*Definition:* OSA (On-Shelf Availability) shows the percentage of time a product was available on the store shelf.
It is calculated by dividing the number of hours the item was available by the total store operating hours, then multiplying by 100%.

$$
OSA =
\frac{\text{Hours Item Was Available in Store}}
{\text{Total Store Operating Time}} \times 100\%
$$

In [ ]:
hours_available = 8
store_hours = 10

osa = (hours_available / store_hours) * 100

print("On-Shelf Availability (OSA) %:", osa)

On-Shelf Availability (OSA) %: 80.0

In [ ]:
"""
SELECT
    category,
    (SUM(hours_available) * 100.0 / SUM(store_operating_hours)) AS category_osa
FROM shelf_availability
GROUP BY category
ORDER BY category_osa DESC;
"""

### **2.6 CPO (Cost Per Order)**
*Definition:* CPO (Cost Per Order) shows how much a company spends on processing one order.
It is calculated by dividing total costs (logistics, operations, etc.) by the number of orders.

$$
CPO =
\frac{\text{Total Costs (Logistics + Operations + etc.)}}{\text{Orders}}
$$

In [ ]:
total_costs = 50000
orders = 1000

cpo = total_costs / orders

print("Cost Per Order (CPO):", cpo)

Cost Per Order (CPO): 50.0

In [ ]:
# SQL example for calculating CPO

"""
SELECT
    SUM(logistics_cost + operations_cost + other_costs) / COUNT(DISTINCT order_id) AS CPO
FROM orders
WHERE order_date BETWEEN '2024-01-01' AND '2024-12-31';
"""

### **2.7 OPH (Orders Per Hour)**
*Definition:* OPH (Orders Per Hour) measures the order processing load per hour, e.g., for a courier, store, or service.
It is calculated by dividing the number of orders in a period by the number of hours in that period.

$$
OPH =
\frac{\text{Orders per Period}}{\text{Hours in Period}}
$$

In [ ]:
orders_per_period = 240
hours_in_period = 8

oph = orders_per_period / hours_in_period

print("Orders Per Hour (OPH):", oph)

Orders Per Hour (OPH): 30.0

In [ ]:
"""
SELECT
    store_id,
    SUM(order_count) / SUM(hours_worked) AS oph
FROM operations
GROUP BY store_id
ORDER BY oph DESC;
"""

### **2.8 SKU (Stock Keeping Units)**
*Definition:* SKU (Stock Keeping Units) shows the number of unique products in a store or warehouse.
It reflects the breadth of the product assortment.

$$
SKU = COUNT(DISTINCT \text{ item ID})
$$

In [ ]:
item_ids = [101, 102, 103, 101, 102, 104]

sku = len(set(item_ids))

print("Number of SKUs:", sku)

Number of SKUs: 4

In [ ]:
"""
SELECT
    category,
    COUNT(DISTINCT item_id) AS category_sku
FROM products
GROUP BY category
ORDER BY category_sku DESC;
"""

### **2.9 Write-offs**
*Definition:* Write-offs show the percentage of products discarded (e.g., due to expiration or damage).
It is calculated by dividing the number of discarded items by the total number of items available for sale, then multiplying by 100%.

$$
Write\text{-}offs =
\frac{\text{Number of Discarded Items}}
{\text{Total Number of Items}} \times 100\%
$$

In [ ]:
discarded_items = 50
total_items = 1000

write_offs = (discarded_items / total_items) * 100

print("Write-offs (%):", write_offs)

Write-offs (%): 5.0

In [ ]:
"""
SELECT
    category,
    (SUM(discarded_quantity) * 100.0 / SUM(total_quantity)) AS category_write_offs
FROM inventory
GROUP BY category
ORDER BY category_write_offs DESC;
"""

# **3 Banking Sector**
Banking Sector — the field of financial services where capital management, lending, and risk management play a key role.

In banking, metrics help monitor financial performance, customer behavior, and operational efficiency.

### **3.1 NPL Ratio (Non-Performing Loans)**
*Definition:* NPL Ratio (Non-Performing Loans) shows the percentage of loans in a bank’s portfolio that are problematic and not being repaid by customers.
It is calculated by dividing the number of non-performing loans by the total number of loans, then multiplying by 100%.

$$
NPL\ Ratio =
\frac{\text{Non-Performing Loans}}{\text{Total Loans}} \times 100\%
$$

In [ ]:
non_performing_loans = 50
total_loans = 1000

npl_ratio = (non_performing_loans / total_loans) * 100

print("NPL Ratio (%):", npl_ratio)

NPL Ratio (%): 5.0

In [ ]:
"""
SELECT
    loan_type,
    (SUM(CASE WHEN loan_status = 'non-performing' THEN 1 ELSE 0 END) * 100.0 / COUNT(*)) AS npl_ratio
FROM loans
GROUP BY loan_type
ORDER BY npl_ratio DESC;
"""

### **3.2 CAR (Capital Adequacy Ratio)**
*Definition:* CAR (Capital Adequacy Ratio) shows whether a bank has enough capital to cover potential losses on its risk-weighted assets.
It is calculated by dividing the bank’s capital by its total risk-weighted assets, then multiplying by 100%.

$$
CAR =
\frac{\text{Capital}}{\text{Risk-Weighted Assets}} \times 100\%
$$

In [ ]:
capital = 500000
risk_weighted_assets = 2500000

car = (capital / risk_weighted_assets) * 100

print("Capital Adequacy Ratio (CAR) %:", car)

Capital Adequacy Ratio (CAR) %: 20.0

In [ ]:
# SQL example for calculating CAR

"""
SELECT
    (capital * 100.0 / risk_weighted_assets) AS CAR
FROM bank_balance_sheet
WHERE report_date = '2024-01-01';
"""

### **3.3 CIR (Cost-to-Income Ratio)**
*Definition:* CIR (Cost-to-Income Ratio) shows what portion of a bank’s income is consumed by its operating expenses, reflecting efficiency in cost management.
It is calculated by dividing operating expenses (salaries, rent, etc.) by operating income (interest, fees, etc.) and multiplying by 100%.

$$
CIR =
\frac{\text{Operating Expenses}}{\text{Operating Income}} \times 100\%
$$

In [ ]:
operating_expenses = 300000
operating_income = 700000

cir = (operating_expenses / operating_income) * 100

print("Cost-to-Income Ratio (CIR) %:", cir)

Cost-to-Income Ratio (CIR) %: 42.857142857142854

In [ ]:
"""
SELECT
    business_unit,
    (SUM(operating_expenses) * 100.0 / SUM(operating_income)) AS CIR
FROM bank_financials
GROUP BY business_unit
ORDER BY CIR ASC;
"""

## **3.4 NIM (Net Interest Margin)**
*Definition:* NIM (Net Interest Margin)shows how much a bank earns from the difference between interest on loans and interest paid on deposits.
It is calculated by subtracting interest expenses (deposits) from interest income (loans) and dividing by the average earning assets, then multiplying by 100%.

$$
NIM =
\frac{\text{Interest Income} - \text{Interest Expense}}{\text{Average Earning Assets}} \times 100\%
$$

In [ ]:
interest_income = 500000
interest_expense = 200000
average_earning_assets = 4000000

nim = ((interest_income - interest_expense) / average_earning_assets) * 100

print("Net Interest Margin (NIM) %:", nim)

Net Interest Margin (NIM) %: 7.5

In [ ]:
# SQL example for calculating NIM

"""
SELECT
    ((SUM(interest_income) - SUM(interest_expense)) * 100.0 / AVG(earning_assets)) AS NIM
FROM bank_assets
WHERE report_date BETWEEN '2024-01-01' AND '2024-12-31';
"""